replicaCount: 2

image:
  repository: 111188889999/flask-demo
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: flask-demo.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
